@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundLogin{

}

table {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    background:#fafafa ;
    margin: 0 auto;
    width: 100%;
  }
  
  tr:nth-child(even) {
    background:#f5f5f5;
  }


.linha_agente{
    height: 60px;
    background-color: #fafafa;
    margin: 5px;
    border-bottom: 1px solid #fdfdfd;
}

.linha_agente_nome{
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
}

.online{
    width: 100px;
    background-color: aquamarine;
    border-radius: 4px;
    height: 23px;
    font-size: 12px;
    padding: 3px 17px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}

.icon_online{
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #00ff93;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px;
    display: inline-block;
}

.draft{
    width: 100px;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 4px;
    height: 23px;
    font-size: 12px;
    padding: 3px 17px;
    font-weight: bolder;
    text-transform: uppercase;
}


.icon_draft{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.icon_perfil{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

thead tr th{
    background-color: #ffffff;
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
}