@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

#contentTop{
    height: 100px;
    padding: 0px 80px 0px 0px;
    background-color: #f7f7f7;
    display: flex;
    margin-bottom: 20px;
}

.side_menu_small{
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    height: 100px;
    border-bottom-right-radius: 12px;
    z-index: 100;;
    box-shadow: 0px 4px 44px 0px #0000002e;
    position: relative;
    z-index: 9999;
    background-color: #FFF;
}

.btn_small_menu svg path{
    fill: #747D99;
}

.btn_small_menu:hover svg path{
    fill: #5570f1;
}


.btn_close_menu svg path, .btn_close_menu svg rect{
    fill: #747D99;
}

.btn_close_menu:hover svg path, .btn_close_menu:hover svg rect{
    fill: #5570f1;
}

/* Classes para visibilidade com transições */
.menu_hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  .menu_visible {
    opacity: 1;
    visibility: visible;
    display: block;
  }


.side_menu_small .btn_small_menu{
    position: absolute;
    left: 20px;
    top: 30px;
    cursor: pointer;
}

.side_menu_big{
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    overflow: auto;
}

.btn_close_menu{
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.btn_menu{
    width: 100%;
    display: inline-flex;
    line-height: 33px;
    padding: 10px !important;
    border-radius: 8px;
    color: #141824;
    font-weight: 600;;
}

.menu_texto{
    line-height: 17px;
}

.btn_menu:hover{
    background: linear-gradient(to right, #aca9ff61, transparent);
}

.menu_active, .btn_menu:hover{
    color: #5570f1;
}

    .menu_active .menu_icon, .btn_menu:hover .menu_icon{
        color: #5570f1;
    }

        .menu_active .menu_icon svg, .btn_menu:hover .menu_icon svg {
            fill: #5570f1;
        }

        .menu_active .menu_icon svg path, .btn_menu:hover .menu_icon svg path{
            fill: #5570f1;
        }


.btn_menu .menu_icon{
    display: inline-flex;
    margin-left: 10px;
    width: 30px;
    margin-right: 7px;
    height: 30px;
}

.btn_menu .menu_icon svg{
 margin: auto;
}

.w-20{width:10rem}

.backgroundLogin{

}

input{
    background-color: #F6F6F6;
}




#contentBody{
    background-color: #F8F8F8;
    overflow: auto;
}

#contentInsideBody{
    padding: 0px 80px;;
}


/* ==========
    TABELA
============= */

table {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
  
    table thead{
        display: inline-table;
        width: 100%;
        color: #5570F1;
        background-color: #FFF;
        justify-content: space-between;
        border-radius: 8px;
        height: 50px;
        margin-bottom: 5px;
    }

        table thead tr{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            background-color: transparent;
        }

            table thead tr th{
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                padding: 0px;
                padding-left: 10px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                background-color: transparent;
            }

    table tbody{
        display: table-caption;
        width: 100%;
        color: #999999;
        background-color:transparent;
        padding: 0px;
        padding-top: 5px;
    }

        table tbody tr{
            border: 2px solid #0000000d;
            background-color: #FFFFFF;
            border-radius: 10px;
            margin-bottom: 4px;
            color: #5E6470;
            display: inline-flex;
            width: 100%;
            padding: 15px;
            max-height: 60px;;
            justify-content: start;
        }

        table tbody tr td{
            display: inline-flex;
            /* width: 100%; */
            justify-content: start;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        .tipo_cadastro{
            padding: 4px 8px;
            gap: 8px;
            width: 110px;
            height: 25px;
            line-height: 15px;
            font-weight: bolder;
            background: #EFF2F6;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            font-size: 13px;
            text-transform: uppercase;
        }

        /* table tbody tr:nth-child(even) {
            background:#f5f5f5;
        } */

        .btn_delete_row{
            width: 40px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            margin: 2px;
            margin-right: 0px;
            height: 20px;
        }

            .btn_delete_row:hover path{
                fill: #ff7373;
            }

        .btn_edit_row{
            width: 40px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            margin: 2px;
            margin-right: 0px;
            height: 20px;
        }

            .btn_edit_row:hover path{
                fill: #3F51B5;
            }


        .bloco_info_details_header{
            height: 40px;
            margin-bottom: 20px;
        }

        .info_details_total{
            color: #5E6470;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

#TableExcel thead{
    height: 72px;
    background-color: #FFF;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #5570F1;
    padding: 13px;
}

    #TableExcel thead tr th {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #5570F1;
        padding: 0px;
        padding-left: 10px;
        text-align: left;
        text-underline-position: from-font;
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
        background-color: transparent;
    }
            









        .bloco_info_details_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
            height: 70px;
            box-sizing: border-box;
        }
        
        #bloco_info_found {
            font-size: 16px;
        }
        



        /* FILTRO PARA LISTA DE REGISTRO */
        .bloco_info_filter_records{
            width: 100%;
            background-color: #FFF;
            border-radius: 8px;
            margin-bottom: 30px;
            padding: 30px;
        }

            .bloco_info_filter_records h2{
                font-size: 19px;
                font-weight: 600;
                line-height: 30px;
                text-align: left;
                color: #141824;
            }

            .bloco_info_filter_records h4{
                font-size: 17px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #525B75;
                line-height: 25px;
            }

            .bloco_info_filter_records form{
                display: flex;
                margin-top: 20px;
            }

                .bloco_info_filter_records form .inputField{
                    display: inline;
                    margin-right: 2%;
                }

                    .bloco_info_filter_records form .inputField label{
                        width: 100%;
                        color: #5570F1 !important;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 24px;
                        text-align: left;
                        text-transform: uppercase;
                        margin-left: 5px;
                    }

                    .bloco_info_filter_records form .inputField input, .bloco_info_filter_records form .inputField select {
                        width: 100%;
                        background-color: #F9F9F9;
                        border-radius: 8px;
                        border: none;
                        padding: 15px 10px;
                    }

                    .bloco_info_filter_records form button{
                        width: 120px;
                        border-radius: 50px;
                        height: 31px;
                        color: #FFF;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 14px;
                        letter-spacing: 1px;
                        background-color: #5570F1;
                        margin-top: 41px;
                    }
                   
                .info_details{
                    color: #141824;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    display: flex;
                    margin-left: 44px;
                    padding: 1px;
                }

            #filterFormRecords form{
                display: flex; 
                gap: 10px;
            }

                #filterFormRecords form span{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 43px;
                    text-align: left;
                    color: #5E6470;

                }
                
                #filterFormRecords form select{
                    padding: 8px;
                    min-width: 140px;
                    border: 2px solid #CBD0DD;
                    font-size: 14px;
                    font-weight: 400;
                    color: #5E6470;
                    border-radius: 8px;
                    background-color: transparent;
                }



        #filterForm {
            display: flex; 
            gap: 10px;
        }

            #filterForm span{
                font-size: 16px;
                font-weight: 500;
                line-height: 43px;
                text-align: left;
                color: #5E6470;

            }
            
            #filterForm select{
                padding:  14px;
                min-width: 140px;
                border: 2px solid #CBD0DD;
                font-size: 14px;
                font-weight: 400;
                color: #5E6470;
                border-radius: 8px;
                background-color: transparent;
            }
            

.listaTabela td{
    display: initial;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
    margin-right: 10px;
    width: 100%;
}

.highlighted_error_select{
    background-color: #ffe1df;
    border-color: #f7b5b0;
    color: red;
}

.highlighted_error select[name="bundle"] {
    background-color: #ffe1df;
    border-color: #f7b5b0;
    color: red;
}

.highlighted_error select[name="classificacao_id"] {
    background-color: #ffe1df;
    border-color: #f7b5b0;
    color: red;
}

#alert-container{
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.border-red {
    border: 1px solid red !important;
    background: #fff9f9 !important;
}

.records_edit{
    width: 17px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin: 8px;
}

    .records_edit svg path{
        fill: #8A94AD;
    }

    .records_edit:hover svg path{
        fill: #5570F1;
    }

    .records_info svg path{
        fill: #0097EB;
    }

    .records_info:hover svg path{
        fill: #0075b5;
    }

.records_delete{
    width: 17px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin: 8px;
}
    .records_delete svg path{
        fill: #8A94AD;
    }

    .records_delete:hover svg path{
        fill: #F44336;
    }

.formAddKnowledge{
    --tw-border-opacity: 1;
    border-color: transparent;
    border-radius: 0.375rem;
    width: 100%;
    display: block;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #F7F7F7;
    height: 54px;
    font-size: 14px;
    font-weight: 100;
    color: #6f778c;
}


  .form-group {
    margin-bottom: 7px;
    position: relative;
  }

  #InfosKnoledgeBase{
    width: 100%;
    margin-bottom: -20px;
  }


  #InfosKnoledgeBase label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #525B75;
    font-size: 14px;
    line-height: 20px !important;
    font-weight: 400;
  }

  #InfosKnoledgeBase input[type="text"] {
    width: 100%;
    padding: 5px 35px 5px 10px;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    color: #8A94AD;
    border: none;
    font-weight: 200;
  }

  #InfosKnoledgeBase .form-group svg {
    position: absolute;
    right: 10px;
    top: 32px;
    width: 20px;
    height: 20px;
    fill: #888;
    pointer-events: none;
  }
  
.btns_bottom{
    width: 100%;
    border-top: 1px solid #E0E0E0;
    margin-top: 40px;
    padding-top: 40px;
}
    .AlignBtns{
        margin: auto;
        width: 426px;
    }

    .alignCenter{
        display: flex;
        margin: auto;
        align-items: center;
    }

    .btns_bottom .btn_finishSend svg{
        display: flex;
        margin-left: 10px;;
    }

    .btns_bottom .btn_finishSend{
        padding: 0px;
        display: flex;
        width: 426px;
        height: 60px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 58px;
        text-align: center;
        color: #FFFFFF;
        background-color: #5570F1;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .btns_bottom .btn_finishSend:hover{
        background-color:  #0E2ECF;
    }
   

    .btns_bottom .btn_saveLater{
        padding: 16px 44px;
        width: 323px;
        height: 60px;
        background: #E0E0E0;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #525B75;
        margin:auto;
        cursor: pointer;
    }

    .btns_bottom .btn_saveLater:hover{
        background-color:#d7d7d7;
    }


    #loadMore{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 181px;
        height: 40px;
        background: #EFF2F6;
        border: 2px solid #3A57E8;
        border-radius: 88px;
        flex: none;
        order: 0;
        flex-grow: 0;
        font-weight: 700;
        margin: auto;
        margin-top: 20px;;
        cursor: pointer;
        color: #525B75;
    }

    #loadMore:hover{
        background-color: #3A57E8;
        color: #FFF;
    }

    #loadMore:hover svg path{
        fill: #FFF;
    }

    #ModalDelete{
        display: none;
    }
    
    #ModalDelete::before{
        content: " ";
        width: 100vw;
        height: 100vh;
        background-color: #00000085;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 99999;
    }

    #ModalDelete form{
        background-color: #FFF;
        min-width: 450px;
        height: 180px;
        padding: 50px;;
        position: absolute;
        z-index: 9999999;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        bottom: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
    }

        #ModalDelete h2{
            color: #525B75;
            text-align: center;
            font-weight: 400;
            font-size: 15px;;
            margin-bottom: 20px;
        }

        #ModalDelete .btns_Delete{
            display: flex;
        }

            #ModalDelete .btns_Delete .BtnConfirmDelete{
                color: #FFF;
                width: auto;
                background-color: #8A94AD;
                text-align: center;
                font-weight: 700;
                font-size: 15px;
                border-radius: 40px;
                padding: 10px 30px;
                cursor: pointer;
            }

                #ModalDelete .btns_Delete .BtnConfirmDelete:hover{
                    background-color: #727f9f;
                }

            #ModalDelete .btns_Delete .btnCancelDelete{
                color: #525B75;
                width: auto;
                background-color: #E0E0E0;
                border-radius: 40px;
                padding: 10px 30px;
                text-align: center;
                font-weight: 700;
                font-size: 15px;
                margin-left: 20px;
                cursor: pointer;
            }

                #ModalDelete .btns_Delete .btnCancelDelete:hover{
                    background-color: #d1d0d0;
                }

















                #ModalReferencia{
                    display: none;
                }
                
                #ModalReferencia::before{
                    content: " ";
                    width: 100vw;
                    height: 100vh;
                    background-color: #00000085;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    z-index: 99999;
                }
            
                #ModalReferencia .content{
                    background-color: #FFF;
                    min-width: 450px;
                    height: 80vh;
                    padding: 50px;
                    max-height: 80vh;
                    overflow: scroll;
                    position: absolute;
                    display: block;
                    z-index: 9999999;
                    border-radius: 10px;
                    top: 50%;
                    left: 50%;
                    bottom: 50%;
                    right: 50%;
                    transform: translate(-50%, -50%);
                }
            
                    #ModalReferencia .Title{
                        display: inline-flex;
                        text-align: left;
                    }
                    
                    #ModalReferencia .Title svg{
                        width: 32px;
                    }

                    #ModalReferencia .Title h2{
                        color: #525B75;
                        text-align: left;
                        font-weight: 400;
                        font-size: 17px;
                        margin-bottom: 20px;
                        margin-left: 8px;
                        margin-top: 1px;
                    }

                    #ModalReferencia .ListaReferencia .Referencia{
                        color: #525B75;
                        text-align: left;
                        font-weight: 400;
                        font-size: 17px;
                        margin-bottom: 20px;
                        margin-left: 0px;
                        margin-top: 1px;
                    }


                        #ModalReferencia .ListaReferencia .Referencia h2{
                            color: #525B75;
                            text-align: left;
                            font-weight: 400;
                            font-size: 14px;
                            margin-bottom: 20px;
                            margin-left: 0px;
                            margin-top: 1px;
                        }


                        #ModalReferencia .ListaReferencia .Referencia .list .processoList{
                            color: #525B75;
                            text-align: left;
                            font-weight: 400;
                            font-size: 17px;
                            margin-bottom: 20px;
                            margin-left: 0px;
                            margin-top: 1px;
                        }
    
    
                            #ModalReferencia .ListaReferencia .Referencia .list .processoList .labelProcesso{
                                color: #8A94AD;
                                text-align: left;
                                font-weight: 400;
                                font-size: 15px;
                                margin-bottom: 10px;
                            }

                            #ModalReferencia .ListaReferencia .Referencia .list .processoList .TextoProcesso{
                                color: #525B75;
                                text-align: left;
                                font-weight: 400;
                                font-size: 17px;
                                margin-bottom: 5px;
                                background-color: #F9F9F9;
                                padding: 5px 10px;
                                border-radius: 5px;;
                            }

                    






                            #ModalEdit{
                                display: none;
                            }
                            
                            #ModalEdit::before{
                                content: " ";
                                width: 100vw;
                                height: 100vh;
                                background-color: #00000085;
                                position: fixed;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                z-index: 99999;
                            }
                        
                            #ModalEdit .content{
                                background-color: #FFF;
                                min-width: 450px;
                                height: 80vh;
                                padding: 50px;
                                max-height: 80vh;
                                overflow: scroll;
                                position: absolute;
                                display: block;
                                z-index: 9999999;
                                border-radius: 10px;
                                top: 50%;
                                left: 50%;
                                bottom: 50%;
                                right: 50%;
                                transform: translate(-50%, -50%);
                            }
                        
                                #ModalEdit .Title{
                                    display: block;
                                    text-align: left;
                                    border-bottom: 2px solid #D2E4FF;
                                    margin-bottom: 20px;;
                                }
                                
                                #ModalEdit .Title svg{
                                    width: 32px;
                                }
            
                                #ModalEdit .Title h2{
                                    color: #0E2ECF;
                                    text-align: left;
                                    font-weight: 400;
                                    font-size: 19px;
                                    margin-bottom: 20px;
                                    margin-left: 8px;
                                    margin-top: 1px;
                                }
            
                                #ModalEdit .Title .btnHistorico{
                                    color: #525B75;
                                    width: 113px;
                                    text-align: left;
                                    font-weight: 700;
                                    font-size: 16px;
                                    margin-bottom: 20px;
                                    margin-left: 0px;
                                    margin-top: 1px;
                                    padding: 2px 7px;
                                    border-bottom: 1px solid #525B75;
                                    display: none;
                                    cursor: pointer;
                                }
            
            
                                    #ModalEdit .inputField{
                                        color: #525B75;
                                        text-align: left;
                                        font-weight: 400;
                                        font-size: 16px;
                                        margin-bottom: 20px;
                                        margin-left: 0px;
                                        margin-top: 1px;
                                        display: inline-grid;
                                        width: 100%;
                                    }

                                    #ModalEdit .inputField input{
                                        background: #F9F9F9;
                                        border: none;
                                        border-radius: 8px;
                                        height: 55px;
                                        padding: 11px 15px;
                                    }

                                    #ModalEdit .inputField select{
                                        width: 100%;
                                        background-color: #F9F9F9;
                                        border:1px solid;
                                        border: none;
                                        height: 55px;
                                        padding: 15px;
                                        color: #525b75;
                                        border-radius: 8px;
                                    }
                                   

                                    #ModalEdit .BtnConfirmEdit{
                                        background-color: #5570F1;
                                        border: 1px solid;
                                        width: 185px;
                                        font-weight: bolder;
                                        margin: 20px auto;;
                                        padding: 5px 25px;
                                        color: #FFF;
                                        font-size: 17px;
                                        border-radius: 20px;
                                        cursor: pointer;
                                    }
                                    

                                    #ModalEdit .ListaHistorico .Referencia {
                                        border-bottom: 2px solid #D2E4FF;
                                        margin-bottom: 40px;
                                    }
                                    
                                    #ModalEdit .ListaHistorico{
                                        display: none;
                                    }

                                    #ModalEdit .ListaHistorico .Referencia .list .processoList{
                                        color: #525B75;
                                        text-align: left;
                                        font-weight: 400;
                                        font-size: 17px;
                                        margin-bottom: 10px;
                                        margin-left: 0px;
                                        margin-top: 1px;
                                    }


                                        #ModalEdit .ListaHistorico h3{
                                            color: #0E2ECF;
                                            text-align: left;
                                            font-weight: 400;
                                            font-size: 15px;
                                            margin-bottom: 10px;
                                            margin-left: 0px;
                                            margin-top: 1px;
                                        }


                                        #ModalEdit .ListaHistorico h4{
                                            color: #141824;
                                            text-align: left;
                                            font-weight: 400;
                                            font-size: 15px;
                                            margin-bottom: 10px;
                                            margin-left: 0px;
                                            margin-top: 1px;
                                        }


                                        #ModalEdit .ListaHistorico h2{
                                            color: #8A94AD;
                                            text-align: left;
                                            font-weight: 700;
                                            font-size: 14px;
                                            margin-bottom: 2px;
                                            margin-left: 0px;
                                            margin-top: 1px;
                                        }
                    

                                        #ModalEdit .ListaHistorico .list{
                                            margin-top: 10px;;
                                        }
                

                
                                        #ModalEdit .ListaHistorico .Referencia .list .processoList .labelProcesso{
                                            color: #8A94AD;
                                            text-align: left;
                                            font-weight: 400;
                                            font-size: 14px;
                                            margin-bottom: 2px;
                                        }
            
                                        #ModalEdit .ListaHistorico .Referencia .list .processoList .TextoProcesso{
                                            color: #525B75;
                                            text-align: left;
                                            font-weight: 400;
                                            font-size: 15px;
                                            margin-bottom: 5px;
                                            padding: 5px 10px;
                                            border-radius: 5px;;
                                        }

                                    
        .user_edit_record{
            color: #0097EB;
        }

        .user_edit_record select{
            background-color: #C7EBFF;
            color: #141824;
            border-color: #9ed8f8;
        }
            
                                 



                            


label{
    color: #525B75 !important;
    line-height: 30px !important;
}

.linha_agente{
    height: 60px;
    background-color: #fafafa;
    margin: 5px;
    border-bottom: 1px solid #fdfdfd;
}

.linha_agente_nome{
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
}

.online{
    width: 100px;
    background-color: aquamarine;
    border-radius: 4px;
    height: 23px;
    font-size: 12px;
    padding: 3px 17px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}

.icon_online{
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #00ff93;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px;
    display: inline-block;
}

.draft{
    width: 100px;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 4px;
    height: 23px;
    font-size: 12px;
    padding: 3px 17px;
    font-weight: bolder;
    text-transform: uppercase;
}


.icon_draft{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.icon_perfil{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.diretriz{
    margin-top: 15px;
}

.diretriz label{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
}


.list-form{
    width: 100%;
    display: inline-block;
    padding: 33px;
    border-radius: 13px;
    margin-bottom: 100px;
}

    .list-form input{
        background-color: #FFFFFF;
        background-color: #f4f4f4;
        border:1px solid;
        border-color: #CBD0DD;
        border-color: transparent;
        height: 55px;
        padding: 15px;
        color: #141824;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .list-form select{
        background-color: #FFFFFF;
        border:1px solid;
        border-color: #CBD0DD;
        height: 55px;
        padding: 15px;
        color: #141824;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    
    .list-form label{
        color: #525B75;
        font-size: 16px !important;
        font-weight: 400;
        padding-bottom: 5px;
    }

    .btn_enviar{
        width: 100%;
        height: 58px;
        background: #5570F1;
        box-shadow: 0px 9px 44px rgb(85 112 241 / 44%);
        border-radius: 10px;
        text-align: center !important;
        font-size: 16px;
        margin-left: 0px !important;
        display: inline;
    }


    .btn_ativar{
        width: 100%;
        background: #ffdbd6;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 290%;
        text-align: center;
        color: #F44336;
        height: 46px;
        margin: 0px !important;
        cursor: pointer;
    }

    .btn_desativar{
        width: 100%;
        background: #EFF2F6;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 290%;
        text-align: center;
        color: #FA3B1E;
        height: 46px;
        margin: 0px !important;
        cursor: pointer;
    }

    .btn_desativar:hover{
        background-color: #ffe7e3;
        
    }

    .bloco_config{
        background-color: #FFF;
        border-radius: 8px;
        padding: 30px;
    }

    .btnConfig{
        width: 100%;
        height: 56px;
        margin: 5px;
        background-color: #E3EEFF;
        text-align: center;
        color: #5570F1;
        border-radius: 5px;
        display: flex;
    }

    .btn_titleComponent{
        box-shadow: 0px 19px 34px -20px #43BBED;
        background-color: #5570F1;
        color: white;
        padding: 0px 24px;
        height: 45px;
        margin-top: 0px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
    }

        .btn_titleComponent:hover{
            background-color: #C7EBFF;
            color: #0E2ECF;
        }


       #filterFormCrud select{
            background-color: #FFF;
            padding:  14px;
            min-width: 140px;
            border: transparent;
            font-size: 14px;
            font-weight: 400;
            color: #5E6470;
            border-radius: 8px;


       }


    .btnConfig svg{
        margin-top: 16px;
        margin-bottom: 5px;
        color: #5570F1;
        margin-left: 25px;
    }

    .btnConfig span{
        margin-top: 16px;
        margin-left: 10px;
    }

    .btn_voltar{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 8px 24px 6px;
        width: 93px;
        height: 36px;
        border-bottom: 1px solid #8A94AD;
        margin: auto;
        margin-top: 20px;
        font-weight: 600;
    }

    

    #overlay {
        position: fixed;
        top: -24px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    #confirmPopup {
        width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 50px 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        text-align: center;
        z-index: 10000;
    }
    
    #confirmPopup p {
        margin-bottom: 20px;
        font-size: 19px;
    }
    
    #confirmPopup button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 42px;
        width: 200px;
        border-radius: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }
    
    #confirmDesativar {
        background-color: #FFD9D3;
        color: #FA3B1E;
        margin-right: 10px;
    }
    
    #cancelDesativar {
        background-color: #5570F1;
        color: white;
    }

    
    



.dropdown {
    position: relative;
    margin-bottom: 20px;

    background-color: #FFFFFF;
        border:1px solid;
        border-color: #CBD0DD;
        height: 55px;
        padding: 5px 15px 15px 7px;
        color: #141824;
        border-radius: 8px;
        margin-bottom: 30px;
  
    .dropdown-list {
        padding: 25px 20px;
        width: calc(100% + 2px);
        position: absolute;
        top: 47px;
        left: -1px;
        right: 0;
        border: 1px solid #CBD0DD;
        max-height: 223px;
        overflow-y: auto;
        background: #ffffff;
        z-index: 9999;
        display: none;
        z-index: 10;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0px 11px 20px #12121240;
    }
    
    .checkbox {
      opacity: 0;
      transition: opacity .2s;
    }
    
    .dropdown-label {
      display: block;
      height: 44px;
      font-size: 16px;
      line-height: 42px;
      color: #141824;
      padding: 0 40px 0 10px;
      cursor: pointer;
      position: relative;
      
      &:before {
        content: "";
        background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggc3Ryb2tlPScjNmI3MjgwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMS41JyBkPSdNNiA4bDQgNCA0LTQnLz48L3N2Zz4=");
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        padding-right: 2.5rem;
        -webkit-print-color-adjust: exact;
        position: absolute;
        right: -23px;
        top: 50%;
        height: 24px;
        transform: translateY(-50%);
        transition: transform .25s;
        transform-origin: center center;
      }
    }
    &.open {
      .dropdown-list {
        display: block;
      }
      .checkbox {
        transition: 2s opacity 2s;
        opacity: 1;
      }
      .dropdown-label:before {
        transform: translateY(-50%) rotate(180deg);
            right: -7px;
      }
    }
  }
  
  .checkbox {
    margin-bottom: 20px;
    &:last-child {  
      margin-bottom: 0;
    }
    
    .checkbox-custom {
      display: none;
    }
  
    .checkbox-custom-label {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
    }
  
    .checkbox-custom + .checkbox-custom-label:before {
      content: '';
      background: #dfdfdfba;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      text-align: center;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      margin-top: -2px;
    }
  
    .checkbox-custom:checked + .checkbox-custom-label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      height: 4px;
      padding: 2px;
      transform: rotate(45deg);
      text-align: center;
      border: solid #000;
      border-width: 0 2px 2px 0;
    }

    .checkbox-custom-label {
      line-height: 16px;
      font-size: 16px;
      margin-right: 0;
      margin-left: 0;
      color: black;
    }
  }




.img_profile{
    width: 120px;
    height: 120px;
    background-color: #FFF;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 50px;
    position: relative;
}

    .img_profile svg{
        margin: auto;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .img_profile path{
        stroke: #8A94AD;
    }


    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .preview {
        width: 100%;
        height:  100%;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #F5F7FA;
    }

    .preview img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

        .preview_chamada{
            color: #5570F1;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 150%;
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 10px;
        }
    .img_profile input[type="file"] {
        width: 120px;
        height: 120px;
        z-index: 99;
        position: absolute;
        opacity: 0;
        border-radius: 100px;
        cursor: pointer;
    }

    .custom-file-upload {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }

    .custom-file-upload:hover {
        background-color: #0056b3;
    }



#totvs-erp{
    background-color: #f8f8f8;
    border-radius: 11px;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #5E6470;
}



#titleComponent{
    background: #FFFFFF;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
    margin-bottom: -10px;
    color: #30344D;
    font-size: 24px;
}

    #titleComponent_KnowledgeBase{
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
        margin-bottom: -10px;
        color: #30344D;
        font-size: 24px;
        display: flex;
        min-height: 100px;
        height: auto;
        background:#F9F9F9;
        padding: 30px;
        margin-bottom:10px;
    }


#BlocoLista{
    border-radius: 15px;
}

.tabela {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%; /* Ajuste conforme necessário */
}



#titleComponentForm{
    height: 130px;
    width: 65%;
    border-radius: 15px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
    margin-bottom: -10px;
    color: #30344D;
    font-size: 24px;
    margin: auto;
    margin-bottom: 15px;
    background: #F9F9F9;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}


/* Background */

.bloco_importacao_topo{
    margin-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    padding: 22px 30px;
    min-height: 97px;
    min-width: 250px;
    background: #FFFFFF;
    border: 1px solid #ECEEF1;
    box-shadow: 0px 10px 40px rgba(112, 144, 176, 0.12);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: rgba(48, 52, 77, 0.8);
    margin-top: 20px;;
}

.bloco_importacao_topo h6{
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 30px;
    color: #141824;
    margin-top: 12px;
}


.bloco_importacao_sucesso{
    width: 450px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 22px 30px;
    height: 150px;
    background: #f1fcf0;
    border: 1px solid #daf6e3;
    box-shadow: 0px 10px 40px rgba(112, 144, 176, 0.12);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 21px;
    color: rgba(48, 52, 77, 0.8);
}

.bloco_importacao_sucesso h5{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 99px;
    color: #4CAF50;
    margin-left: 17px;
}


.bloco_importacao_erro{
    width: 450px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 22px 30px;
    height: 150px;
    background: #fcf0f0;
    border: 1px solid #f6dada;
    box-shadow: 0px 10px 40px rgba(112, 144, 176, 0.12);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 21px;
    color: rgba(48, 52, 77, 0.8);
}

.bloco_importacao_erro h5{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 99px;
    color: #af4c4c;
    margin-left: 17px;
}

.bloco_importacao_erro_msg h5{
    margin: 30px 10px;
    color: #af4c4c;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}


#ErroImportacao tbody tr th{
    font-size: 12px;
    border: 1px solid #CCC;
}

#ErroImportacao tbody tr td{
    font-size: 14px;
    border: 1px solid #CCC;
}

.icon-fill svg path { fill: #9097ad; }

/* ICONES HEADER */
.icon-fill-bell svg path{fill: #8f96ac; }
    .icon-fill-bell:hover svg path{ fill: #5570F1; }

.icon-fill-gear svg path{stroke: #8f96ac; }
    .icon-fill-gear:hover svg path{ stroke: #5570F1; }

.icon-fill-logout svg path { fill: #9097ad; }
    .icon-fill-logout:hover svg path { fill: #f05656; }











  .table-container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .table-header h2 {
    margin: 0;
    color: #333;
  }
  
  .filter {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  .custom-table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .custom-table tr:hover {
    background-color: #f9f9f9;
  }






  #paginationLinks{
    width: auto;
    display: table;
    margin: 30px auto 10px;
}

.pagination-link {
    text-decoration: none;
    margin: 5px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-grid;
}

.pagination-link:hover {
    background-color: #3A57E8;
    color: #FFF;
    border-color: #3A57E8;
}

.pagination-link.active {
    color: #3A57E8;
    background-color: transparent;
    border-color: #3A57E8;
}


[type='checkbox']:checked, [type='radio']:checked{
    background-color: #3A57E8;
}

[type='checkbox']:checked:hover, [type='checkbox']:checked:focus, [type='radio']:checked:hover, [type='radio']:checked:focus{
    background-color: #3A57E8;
}



.progress-container {
    text-align: center;
}

.circular-progress {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(
        #92d2f6 0% 23%, 
        #e0e0e0 23% 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-value {
    font-size: 55px;
    font-weight: bold;
    color: #0E2ECF;
}

.progress-text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    font-weight: 100;;
}




.noUi-connect {
    background: #0d6efd;
}
.noUi-handle {
    border: 1px solid #0d6efd;
    background: #fff;
    border-radius: 50%;
    width: 25px !important;
    height: 25px !important;
    right: -17px !important;
    top: -8px !important;
}
.noUi-handle:before, .noUi-handle:after {
    display: none;
}
.popover {
    max-width: 300px;
    min-width: 200px;
}
.popover-body{
    padding-right: 1.5rem;
}
#slider {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 10px;;
}

.noUi-connect{
    background-color: #5570F1;
}

.noUi-connects{
    height: 8px;
    
}

#acertividade-btn{
    min-width: 140px;
    border: 2px solid #CBD0DD;
    color: #5E6470;
    border-radius: 8px;
    height: 56px;
}

.highlighted_record {
    background-color: #ffff99; /* cor de destaque amarela */
    font-weight: bold;
}


@keyframes highlight-animation {
    0% { background-color: #ffff99; }
    100% { background-color: transparent; }
}

.highlighted_record {
    animation: highlight-animation 2s ease-in-out;
}





.toggle-container {
    margin-bottom: 20px;
    background-color: #F5F7FA;
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: -7px;;
    margin-left: 10px;
  }
  
  .toggle-label {
    display: block;
    font-size: 13px;
    color: #525B75;
    margin-bottom: 10px;
  }
  
  .toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toggle-option {
    font-size: 13px;
    color: #525B75;
    transition: color 0.3s ease;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
    margin: 0 10px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border: 1px solid #5570F1;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: -1px;
    background-color: #5570F1;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: transparent;
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }
  
  input:checked ~ .toggle-option:last-child {
    color: #2196F3;
  }
  
  input:not(:checked) ~ .toggle-option:first-child {
    color: #666;
  }
  

  .list-form [type='checkbox']{
    background-color: #d9d9d9;
  }

  .list-form [type='checkbox']:checked{
    background-color: #3A57E8;
  }



  #filterFormList .inputField input{
        box-sizing: border-box;
        align-items: center;
        padding: 8px 12px;
        border: 2px solid rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin: 5px;
  }

    #filterFormList .inputField select{
        box-sizing: border-box;
        height: 44px;
        align-items: center;
        padding: 8px 12px;
        border: 2px solid rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin: 5px;
    }

    #filterFormList button{     
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;

        width: 126px;
        height: 32px;

        /* primary/blue_primary */
        background: #5570F1;
        border-radius: 88px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF; 
        margin-top: 10px;
        margin-left: 10px;
    }