name: Build and Publish assets

on:
  workflow_dispatch:
  push:
    branches:
      - production
      - feature/add-docker
    tags:
      - "v*.*.*"

jobs:
  build-and-push-assets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install NPM dependencies
        run: |
          npm install

      - name: Build assets
        run: |
          npm run build

      - name: Save build assets
        uses: actions/upload-artifact@v3
        with:
          name: build-assets
          path: public/build/

      - name: Save icons assets
        uses: actions/upload-artifact@v3
        with:
          name: build-icons
          path: public/icons/
