name: Deploy app

on:
  push:
    branches:
      - feature/add-docker
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

env:
  USERNAME: root
  HOSTNAME: totvs.bw8.tech

jobs:
  #docker-image:
  #  uses: ./.github/workflows/build-and-publish-image.yaml
  assets:
    uses: ./.github/workflows/build-and-publish-assets.yaml

  deploy-app:
    runs-on: ubuntu-24.04
    needs:
      #    - docker-image
      - assets

    steps:
      - name: Download assets artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-assets
          path: ./public/build

      - name: Download icons artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-icons
          path: ./public/icons

      - name: Setup SSH key
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.BW8_DEV_SSH_KEY }}"

      - name: Deploy assets
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh "${{ env.USERNAME }}@${{ env.HOSTNAME }}" 'mkdir -p /apps/dev-totvs-rfp/public/{build,icons}'
          scp ./public/build/* ${{ env.HOSTNAME }}:/apps/dev-totvs-rfp/public/build/
          scp ./public/icons/* ${{ env.HOSTNAME }}:/apps/dev-totvs-rfp/public/icons/
