name: Deploy app

on:
  push:
    branches:
      - feature/add-docker
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  docker-image:
    uses: ./.github/workflows/build-and-publish-image.yaml
  assets:
    uses: ./.github/workflows/build-and-publish-assets.yaml

  deploy-app:
    runs-on: ubuntu-latest
    needs:
      - docker-image
      - assets

    steps:
      - name: Download assets artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-assets
          path: ./public/build

      - name: Download icons artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-icons
          path: ./public/icons

      - name: Deploy assets
        uses: appleboy/scp-action@v0.1.7
        with:
          host: "totvs.bw8.tech"
          username: ubuntu
          key: ${{ secrets.BW8_DEV_SSH_KEY }}
          source: "./public/build/*"
          target: "/apps/dev-totvs-rfp/public/build/"

      - name: Deploy icons
        uses: appleboy/scp-action@v0.1.7
        with:
          host: "totvs.bw8.tech"
          username: ubuntu
          key: ${{ secrets.BW8_DEV_SSH_KEY }}
          source: "./public/icons/*"
          target: "/apps/dev-totvs-rfp/public/icons/"
