---
name: test

on:
  workflow_call:
  push:
    branches:
    - feature/add-docker
    tags:
    - "v*.*.*"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

env:
  USERNAME: root
  HOSTNAME: totvs.bw8.tech
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock
  DOCKER_IMAGE: ghcr.io/bw8hook/totvs-rfp:feature-add-docker

jobs:
  #docker-image:
  #uses: ./.github/workflows/build-and-publish-image.yaml
  #assets:
  #  uses: ./.github/workflows/build-and-publish-assets.yaml

  deploy-app:
    runs-on: ubuntu-latest
    #needs:
    #  - docker-image
    #  - assets

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

      # - name: Download assets artifacts
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: build-assets
      #     path: ./public/build
      #
      # - name: Download icons artifacts
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: build-icons
      #     path: ./public/icons
      #
      - name: Setup SSH key
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.BW8_DEV_SSH_KEY }}"
          ssh-keyscan ${{ env.HOSTNAME }}

    - name: Deploy assets
      run: |
        ssh -o "StrictHostKeyChecking=no" "${{ env.USERNAME }}@${{ env.HOSTNAME }}" 'sudo mkdir -p /apps/dev-totvs-rfp/'
        scp -o "StrictHostKeyChecking=no" ./docker-compose.yaml  "${{ env.USERNAME }}@${{ env.HOSTNAME }}":/apps/dev-totvs-rfp/
        scp -o "StrictHostKeyChecking=no" ./.env  "${{ env.USERNAME }}@${{ env.HOSTNAME }}":/apps/dev-totvs-rfp/

    - name: Pull latest image
      run: |
        ssh -o "StrictHostKeyChecking=no" "${{ env.USERNAME }}@${{ env.HOSTNAME }}" 'docker pull ${{ env.DOCKER_IMAGE }}'

    - name: Stop running container
      run: |
        ssh -o "StrictHostKeyChecking=no" "${{ env.USERNAME }}@${{ env.HOSTNAME }}" 'cd /apps/dev-totvs-rfp/ ; docker compose stop'

    - name: Start new container
      run: |
        ssh  -o "StrictHostKeyChecking=no" -o "ServerAliveInterval=60" "${{ env.USERNAME }}@${{ env.HOSTNAME }}" 'cd /apps/dev-totvs-rfp/ ; docker compose up -d  &>/dev/null  & disown'
